/**
 * @name Discord Promo Theme
 * @author Ironfacebuster | YGOLG#8005
 * @authorLink https://twitter.com/ironfacebuster
 * @version 1.0.8
 * @description Inspired by the promotional images on discord.com
 * @source https://github.com/Ironfacebuster/BD-themes/tree/main/Discord%20Promo
*/

:root {
    /* interactive colors */
    --interactive-normal: #dbe7ff;
    --interactive-active: #ffffff;
    /* bg colors */
    --background-primary: #292841;
    --background-secondary: #1c1b29;
    --background-secondary-alt: #212031;
    /* --background-tertiary: #11101a; */
    --background-tertiary: #232231;
    --background-accent: #403b82;
    --background-secondary-faded: #1f1e29;
    /* floating bg */
    --background-floating: var(--background-secondary);
    /* scrollbar colors */
    --scrollbar-auto-thumb: #1c1a2b;
    --scrollbar-thin-thumb: #26233a;
    --scrollbar-auto-scrollbar-color-thumb: var(--scrollbar-auto-thumb);
    --scrollbar-auto-track: #212031;
    --scrollbar-thin-track: var(--scrollbar-thin-track);
    --scrollbar-auto-scrollbar-color-track: var(--scrollbar-thin-track);
    /* channel text area */
    --channeltextarea-background: #31324e;
    --text-muted: #b9bbbe;
    --header-secondary: rgb(199, 199, 199);
    /* channel title stuff */
    --channels-default: #888b90;
    /* pfp switch */
    --modify-pfp: 1;
    /* response line thing */
    --avatar-size: 50px;
    /* general ui */
    --switch-color: #43b581;
}

/* 
    main window layout stuff 
*/

.theme-dark .username-1A8OIy, .theme-light .username-1A8OIy {
    font-weight: 525;
}

.theme-dark .timestamp-3ZCmNB, .theme-light .timestamp-3ZCmNB {
    margin-left: 0px;
}

.theme-dark .messageContent-2qWWxC .timestamp-3ZCmNB, .theme-light .messageContent-2qWWxC .timestamp-3ZCmNB {
    margin-left: 5px;
}

/* search bar */

.theme-dark .search-2oPWTC.open-6_Y_aH, .theme-light .search-2oPWTC.open-6_Y_aH {
    background-color: var(--background-primary);
}

.theme-dark .resultsGroup-r_nuzN, .theme-light .resultsGroup-r_nuzN {
    background-color: var(--background-secondary-alt);
}

.theme-dark .option-96V44q.searchOption-zQ-1l6.selected-rZcOL-, .theme-light .option-96V44q.searchOption-zQ-1l6.selected-rZcOL- {
    background-color: var(--background-secondary);
}

.theme-dark .option-96V44q.selected-rZcOL-, .theme-light .option-96V44q.searchOption-zQ-1l6.selected-rZcOL- {
    background-color: var(--background-secondary);
}

.theme-dark .searchFilter-2ESiM3, .theme-light .searchFilter-2ESiM3 {
    background-color: var(--background-primary);
}

.theme-dark .searchAnswer-3Dz2-q, .theme-light .searchAnswer-3Dz2-q {
    background-color: var(--background-primary);
}

.theme-dark .option-96V44q:after, .theme-light .option-96V44q:after {
    background: 0 0!important
}

/*
    reaction modal
*/

/* bot tag */

.botText-1526X_ {
    top: -25%;
    transform: translateY(25%);
}

.scroller-1-nKid.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background-color: var(--background-secondary);
}

.reactors-Blmlhw.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background-color: var(--background-primary);
}

.theme-dark .reactionSelected-1pqISm {
    background-color: var(--background-primary);
}

/* 
    member list 
*/

.theme-dark .base-1pYU8j.selectable-3dP3y-.selected-1Tbx07, .theme-light .base-1pYU8j.selectable-3dP3y-.selected-1Tbx07 {
    background-color: var(--background-secondary);
}

.membersGroup-v9BXpm.container-2ax-kl {
    text-transform: none;
    font-size: 15px;
    padding-bottom: 20px;
    font-family: var(--font-primary);
}

.member-3-YXUe.container-2Pjhx-.selected-aXhQR6 .layout-2DM8Md {
    background-color: #312f51;
}

/*
    nickname modal
*/

.content-1LAB8Z.modalContent-zY2PZi.thin-1ybCId.scrollerBase-289Jih {
    background-color: var(--background-primary);
}

/*
    tab bar
*/

.theme-dark .tabBarItem-3dfX8P.item-PXvHYJ.selected-3s45Ha.themed-OHr7kt {
    background-color: var(--background-secondary);
}

.theme-dark .body-r6_QPy .infoScroller-1Qu30O.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background-color: var(--background-primary);
}

.theme-dark .body-r6_QPy .listScroller-3GmIYj.thin-1ybCId.scrollerBase-289Jih.fade-2kXiP2 {
    background-color: var(--background-primary);
}

/* 
    channel names 
*/

/* default channel */

.theme-dark .content-1x5b-n .mainContent-u_9PKf div.name-23GUGE, .theme-light .content-1x5b-n .mainContent-u_9PKf div.name-23GUGE {
    transition: font-size 0.2s, font-weight 0.2s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

/* unread channel */

.theme-dark .unread-2lAfLh+.content-1x5b-n .mainContent-u_9PKf div.name-23GUGE, .theme-light .unread-2lAfLh+.content-1x5b-n .mainContent-u_9PKf div.name-23GUGE {
    font-weight: 550;
    font-size: large;
    transition: font-size 0.25s, font-weight 0.25s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.theme-dark .modeSelected-346R90 .mainContent-u_9PKf div.name-23GUGE, .theme-light .modeSelected-346R90 .mainContent-u_9PKf div.name-23GUGE {
    font-size: larger;
    transition: font-size 0.25s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.theme-dark .modeSelected-346R90 div.content-1x5b-n, .theme-light .modeSelected-346R90 div.content-1x5b-n {
    border-radius: 5px;
    background-color: var(--background-primary);
}

/*
    status picker
*/

.description-2L932D {
    display: none;
}

.mask-1qbNWk.icon-1IxfJ2 foreignObject {
    clip-path: circle(50% at center);
    mask: none;
}

/*
    user modal
*/

.avatarHint-2A3RNb {
    position: absolute;
    width: 100px !important;
    height: 100px !important;
    left: 50%;
    top: calc(50% + 7.5px);
    transform: translateX(-50%) translateY(-50%);
}

foreignObject .avatarHintInner-1TvA8u {
    box-shadow: none;
    color: var(--interactive-active);
    -webkit-filter: drop-shadow(3px 3px 2px var(--background-primary));
    filter: drop-shadow(3px 3px 2px var(--background-primary));
}

.avatarHint-2A3RNb foreignObject {
    position: relative;
    clip-path: circle(50% at center);
    mask: none;
}

.userPopout-xaxa6l {
    width: 250px !important;
}

.userPopout-xaxa6l .divider-ewBQKj {
    display: none;
}

.userPopout-xaxa6l .body-3HBlXn.thin-1ybCId.scrollerBase-289Jih {
    padding-top: 15px;
}

.avatar-37jOim {
    margin-top: 15px;
    border: none;
}

.banner-2QYc2d.popoutBanner-19WKGg {
    display: none;
}

.banner-2QYc2d.popoutBannerPremium-1n96gg.bannerPremium-2hSAwz {
    opacity: 0.5;
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 5px 5px 0px 0px;
}

.profileBadges-ohc0Vu.container-q03LZO {
    width: fit-content;
    height: 26px;
    overflow: hidden;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: width 0.5s linear;
}

.profileBadges-ohc0Vu.container-q03LZO .clickable-17BDii {
    width: fit-content;
    transition: transform 0.2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.profileBadges-ohc0Vu.container-q03LZO .clickable-17BDii:hover {
    transform: scale(1.25, 1.25) translateY(2.5px);
    transition: transform 0.2s;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.avatarPositionPremium-3We5Ho~.headerTop-3vNv-a.headerTopWithCustomStatus-1DHAjX {
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
}

.avatar-37jOim.wrapper-3t9DeA {
    transform: scale(1.25, 1.25);
}

.userPopout-xaxa6l .avatarWrapperNormal-26WQIb.avatarWrapper-3r9PdD.avatarPositionPremium-3We5Ho.clickable-1rcWFe {
    display: block;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15px;
    margin-bottom: 10px;
    top: 0px;
    width: fit-content;
}

.mask-1l8v16.svg-2V3M55 foreignObject {
    clip-path: circle(50% at center);
    mask: none;
}

.mask-1l8v16.svg-2V3M55 rect {
    clip-path: circle(50% at center);
    mask: none;
}

.mask-1l8v16.svg-2V3M55 foreignObject[mask="url(#svg-mask-avatar-status-mobile-32)"]+rect {
    mask: none;
    clip-path: circle(40% at 50% 65%);
}

.mask-1l8v16.svg-2V3M55 foreignObject[mask="url(#svg-mask-avatar-status-mobile-80)"]+rect {
    mask: none;
    clip-path: circle(40% at 50% 65%);
}

.mask-1l8v16.svg-2V3M55 foreignObject[mask="url(#svg-mask-avatar-status-round-80)"]+rect {
    clip-path: circle(50% at center);
    mask: none;
}

.mask-1l8v16.svg-2V3M55 foreignObject[mask="url(#svg-mask-avatar-status-mobile-120)"]+rect {
    clip-path: circle(40% at 50% 65%);
    mask: none;
}

.mask-1l8v16.svg-2V3M55 foreignObject[mask="url(#8b4b7ecb-8b66-40ac-8521-0e3a63be04b8)"]+svg {
    clip-path: circle(25% at center);
    mask: none;
}

/* url(#svg-mask-avatar-status-mobile-120) */

.cursorDefault-dsQJ1n {
    clip-path: circle(25% at center);
    mask: none;
}

/* TODO: add typing indicators back on member list */

.cursorDefault-dsQJ1n .dots-3Bkt3k {
    display: none;
}

.userPopout-xaxa6l .avatarWrapperNormal-26WQIb.avatarWrapper-3r9PdD.avatarPositionNormal-aZjAsn.clickable-1rcWFe {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: fit-content;
    margin-bottom: 30px;
}

.userPopout-xaxa6l .headerTop-3vNv-a {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    /* margin-top: 0px; */
    width: fit-content;
    padding-top: 25px;
}

.body-3HBlXn.thin-1ybCId.scrollerBase-289Jih, .bodyInnerWrapper-26fQXj, .footer-3UKYOU {
    background-color: var(--background-primary);
}

.bodyTitle-1ySSKn.base-1x0h_U.size12-3cLvbJ.muted-3-7c5L.uppercase-3VWUQ9 {
    text-transform: none;
}

.aboutMeTitle-1IYtPE.base-1x0h_U.size12-3cLvbJ.muted-3-7c5L.uppercase-3VWUQ9 {
    text-transform: none;
}

/*
    role things
*/

.role-2irmRk.flex-1O1GKY.alignCenter-1dQNNs {
    border-radius: 10px;
    padding-left: 5px;
    height: fit-content;
    font-size: normal;
}

.role-2irmRk.flex-1O1GKY.alignCenter-1dQNNs .roleCircle-3xAZ1j {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 0px;
}

/*
    channel desc modal
*/

.theme-dark .modal-1TF_VN.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y, .theme-light .modal-1TF_VN.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y {
    background-color: var(--background-primary);
}

/* 
    upload modal 
*/

.theme-dark .uploadModal-2ifh8j, .theme-light .uploadModal-2ifh8j {
    background-color: var(--background-primary);
}

.theme-dark .footer-3mqk7D, .theme-light .footer-3mqk7D {
    background-color: var(--background-secondary);
}

/* 
    server boost colors 
*/

.theme-dark .tierHeaderUnlocked-3lTDnP, .theme-light .tierHeaderUnlocked-3lTDnP {
    background-color: var(--background-secondary);
}

.theme-dark .tierBody-3aUxuc, .theme-light .tierBody-3aUxuc {
    background-color: var(--background-secondary-alt);
}

/* 
    gift modal
*/

.theme-dark .container-1D34oG, .theme-light .container-1D34oG {
    background-color: var(--background-primary)
}

.theme-dark .tierHeaderLocked-3S508x, .theme-light .tierHeaderLocked-3S508x {
    background-color: var(--background-secondary-faded);
}

.theme-dark .contentWrapper-2H52F3 .content-1YdlXf {
    background-color: var(--background-primary);
}

.theme-dark .contentWrapper-2H52F3 .content-1YdlXf div {
    background-color: var(--background-primary);
}

/*
    channel creation modal
*/

.content-1LAB8Z.modalContent-N6GsWH.thin-1ybCId.scrollerBase-289Jih {
    background-color: var(--background-primary);
}

.modal-2VIBV8.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y {
    background-color: var(--background-primary);
}

/*
    "invite friends"
*/

.modal-1k91nT.root-1gCeng.small-3iVZYw.fullscreenOnMobile-1bD22y {
    background-color: var(--background-primary);
}

/*
    BD settings modal
*/

.content-1LAB8Z.bd-addon-modal-settings.thin-1ybCId.scrollerBase-289Jih {
    background-color: var(--background-primary);
}

/* 
    I'm not proud of this
 */

.theme-dark .contentWrapper-2H52F3 .flex-1xMQg5.flex-1O1GKY.horizontalReverse-2eTKWD.horizontalReverse-3tRjY7.flex-1O1GKY.directionRowReverse-m8IjIq.justifyBetween-2tTqYu.alignCenter-1dQNNs.noWrap-3jynv6.footer-2gL1pp {
    background-color: var(--background-secondary);
}

.theme-dark button[type="button"].button-2IFFQ4, .theme-light button[type="button"].button-2IFFQ4 {
    background-color: var(--background-secondary);
}

.theme-dark button[type="button"] *, .theme-light button[type="button"] * {
    background-color: transparent;
}

.theme-dark .autocompleteInner-zh20B_.autocompleteInner-2mQ2AK, .theme-light .autocompleteInner-zh20B_.autocompleteInner-2mQ2AK {
    background-color: var(--background-primary);
}

/* 
    settings stuff
*/

.theme-dark .item-PXvHYJ.selected-3s45Ha.themed-OHr7kt {
    background-color: var(--background-primary);
}

.item-1tOPte.labelContainer-1BLJti.colorBrand-ROmMP1.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: var(--background-accent);
}

.item-1tOPte.labelContainer-1BLJti.focused-3afm-j {
    background-color: var(--background-primary);
}

.emotewrapper {
    height: fit-content;
    width: fit-content;
}

.emotewrapper .fav {
    transform: translateY(50%) translateX(-45%);
}

.emotewrapper img {
    width: 40px;
    height: 40px;
}

/*
    delete message modal
*/

.theme-dark .header-1TKi98 {
    background-color: var(--background-primary);
}

.theme-dark .footer-2gL1pp {
    background-color: var(--background-secondary);
}

.theme-dark .message-2qRu38 {
    background-color: var(--background-primary);
}

.message-2qRu38 * {
    background-color: var(--background-primary);
}

.content-1LAB8Z.content-mK72R6.thin-1ybCId.scrollerBase-289Jih {
    background-color: var(--background-primary);
}