/**
 * @name (ADDON) Discord Promo Theme Smaller Avatars
 * @author Ironfacebuster | YGOLG#8005
 * @authorLink https://twitter.com/ironfacebuster
 * @version 1.0.0
 * @description Makes avatars smaller, like the promotional images. Will not work without the base Discord Promo Theme.
 * @source https://github.com/Ironfacebuster/BD-themes/tree/main/Discord%20Promo
*/

/* profile picture resizing */

.theme-dark .avatar-1BDn8e, .theme-light .avatar-1BDn8e {
    width: 30px;
    height: auto;
}

/* profile picture resizing */

.theme-dark .member-3-YXUe, .theme-light .member-3-YXUe {
    height: fit-content;
    margin-bottom: 2px;
}

.theme-dark .avatar-3uk_u9 div.wrapper-3t9DeA, .theme-light .avatar-3uk_u9 div.wrapper-3t9DeA {
    width: 40px;
    height: auto;
}

.theme-dark .avatar-3uk_u9 div svg, .theme-light .avatar-3uk_u9 div svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
}